@import "functions";
@import "vars";

@import "mixins/media";
@import "mixins/container";
@import "mixins/row";
@import "mixins/col";

@import "reboot";
@import "~normalize.css";

@import "includes/container";
@import "includes/row";
@import "includes/col";

.container {
  border: 1px solid red;
}

.row {
  min-height: 500px;
}

.col {
  border: 1px solid green;
}